#root {
  width: 90vw;
  height: 95vh;
  max-width: 1280px;
  max-height: 900px;
  padding: 2rem;
  margin: 0 auto;
}

main {
  height: 70%;
}

.mainTitle {
  font-size: 48px;
  margin-right: 36px;
}

.notification {
  min-width: 300px;
}

.shadow {
  box-shadow: 2px 4px 10px 0 grey;
}

.navContent {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#aboutPic {
  width: 45%;
  display: flex;
  justify-content: center;
}

#aboutText {
  width: 45%;
  display: flex;
  justify-content: center;
}

#contactForm {
  width: 70%;
  align-self: center;
}

.navbar-item-format {
  text-decoration: none;
}

.navbar-item-format:hover {
  color: #485cfc;
}

.icon i {
  transition: color 0.3s;
}

.icon i:hover {
  color: #485cfc;
}

.portfolioItem {
  width: 300px;
  padding-top: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 36px;
}

.portfolioItem::before {
  content: '';
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.5s ease;
}

.portfolioItem:hover::before {
  opacity: 0.1;
}

.app1::before {
  background-image: url('images/dxdScreenshot.png');
}

.app2::before {
  background-image: url('images/techBlogScreenshot.png');
}

.app3::before {
  background-image: url('images/slcEventsScreenshot.png');
}

.app4::before {
  background-image: url('images/weatherScreenshot.png');
}

.app5::before {
  background-image: url('images/firstBlogScreenshot.png');
}

.app6::before {
  background-image: url('images/empPayTrackerScreenshot.png');
}

.portfolioContent {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    color: #485cfc;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5 ease;
    margin-left: 10px;
    margin-bottom: 10px;
}

.portfolioContent a {
  margin-right: 24px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
}

.portfolioContent:hover {
  opacity: 1;
}

@media (max-width: 1249px) {
  .navContent {
    flex-direction: column;
  }
  .mainTitle {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .mainTitle {
    font-size: 36px;
    margin-right: 0px;
  }
  
  #aboutContent {
    flex-direction: column;
  }

  #aboutPic {
    width: 90%;
  }

  #aboutText {
    width: 90%;
  }

  #contactForm {
    width: 95%;
  }

  h1 {
    align-self: center;
  }

  .navbar-item-format {
    color: #485cfc;
  }
}