#root {
  width: 90vw;
  height: 95vh;
  max-width: 1280px;
  max-height: 900px;
  padding: 2rem;
  margin: 0 auto;
}

main {
  height: 70%;
}

/* a {
  border: 2px black solid;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  background-color: hotpink;
} */

.shadow {
  box-shadow: 2px 4px 10px 0 grey;
}

.navContent {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#aboutPic {
  width: 45%;
  display: flex;
  justify-content: center;
}

#aboutText {
  width: 45%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1249px) {
  .navContent {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  #aboutContent {
    flex-direction: column;
  }
  #aboutPic {
    width: 90%;
  }
  #aboutText {
    width: 90%;
  }
}